# Sets

- A set is an unordered collection of data that is mutable, itirable and has no duplicate elements. 
- Set start with Flower braces { }

In [2]:
# defining set
set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [3]:
set_var={'Hitler', 'Nepolian', 'Sebastian'}

In [4]:
print(set_var)

{'Nepolian', 'Sebastian', 'Hitler'}

In [1]:
set_var={"Rasheed", "Rafi", "Ramu"}

In [2]:
print(set_var)

{'Rafi', 'Rasheed', 'Ramu'}

In [3]:
set_var.add("Radha")

In [5]:
set_var

{'Radha', 'Rafi', 'Ramu', 'Rasheed'}

In [5]:
set_var.add('Michale')

In [6]:
print(set_var)

{'Nepolian', 'Michale', 'Sebastian', 'Hitler'}

In [11]:
set1={"Radha", "Ravi", "Ramu"}
set2={"Radha", "Ravi", "Ramu", "Sudha"}

In [12]:
set2.difference(set1)

{'Sudha'}

In [13]:
set2

{'Radha', 'Ramu', 'Ravi', 'Sudha'}

In [17]:
set2.intersection(set1)

set()

In [19]:
set1

{'Radha', 'Ramu', 'Ravi'}

In [20]:
set2

{'Sudha'}

In [14]:
set2.difference_update(set1)

In [15]:
set2

{'Sudha'}

## Dictionaries

- A dictionary is a collection which is unordered, changeable and indexed. In python dictionaries are written curly brakets { } 
- and they have keys and values.

In [ ]:
my_dict={"Car1":"Audi1","Car2":"Audi2","Car3":"Audi3", }

In [4]:
type(my_dict)

dict

In [5]:
my_dict

{'Car1': 'Audi1', 'Car2': 'Audi2', 'Car3': 'Audi3'}

In [6]:
my_dict["Car1"]

'Audi1'

In [39]:
my_dict1= {"Bus1":"Benz1", "Bus2": "Benz2", "Bus3": "Benz3"}

In [40]:
type(my_dict1)

dict

In [41]:
my_dict1["Bus1"]

'Benz1'

In [42]:
for x in my_dict1:
    print(x)

Bus1
Bus2
Bus3

In [44]:
for x in my_dict1.values():
    print(x)

Benz1
Benz2
Benz3

In [46]:
for x in my_dict1.items():
               print(x)

('Bus1', 'Benz1')
('Bus2', 'Benz2')
('Bus3', 'Benz3')

In [49]:
my_dict1["Bus4"]="Benz4"

In [50]:
my_dict1

{'Bus1': 'Benz1', 'Bus2': 'Benz2', 'Bus3': 'Benz3', 'Bus4': 'Benz4'}

In [7]:
for x in my_dict:
    print(x)

Car1
Car2
Car3

In [8]:
for x in my_dict.values():
    print(x)

Audi1
Audi2
Audi3

In [9]:
for x in my_dict.items():
    print(x)

('Car1', 'Audi1')
('Car2', 'Audi2')
('Car3', 'Audi3')

In [10]:
my_dict["car4"]='Mercedes benz'

In [11]:
my_dict

{'Car1': 'Audi1', 'Car2': 'Audi2', 'Car3': 'Audi3', 'car4': 'Mercedes benz'}

In [12]:
for x in my_dict.items():
    print(x)

('Car1', 'Audi1')
('Car2', 'Audi2')
('Car3', 'Audi3')
('car4', 'Mercedes benz')

In [52]:
car1_Model={'Mercedez banz1':1980}
car2_Model={'Mercedez banz2':1981}
car3_Model={'Mercedez banz3':1982}
car_type={'Car1':car1_Model,'Car2':car2_Model,'Car3':car3_Model }

In [53]:
print(car_type)

{'Car1': {'Mercedez banz1': 1980}, 'Car2': {'Mercedez banz2': 1981}, 'Car3': {'Mercedez banz3': 1982}}

In [54]:
print(car_type)

{'Car1': {'Mercedez banz1': 1980}, 'Car2': {'Mercedez banz2': 1981}, 'Car3': {'Mercedez banz3': 1982}}

In [55]:
print(car_type)

{'Car1': {'Mercedez banz1': 1980}, 'Car2': {'Mercedez banz2': 1981}, 'Car3': {'Mercedez banz3': 1982}}

In [26]:
print(car_type['Car1'])

{'Mercedez banz1': 1980}

In [56]:
print(car_type["Car2"])

{'Mercedez banz2': 1981}

In [58]:
print(car_type["Car3"]["Mercedez banz3"])

1982

In [27]:
# nested Dictionary.
print(car_type['Car1']['Mercedez banz1'])

1980

# Tuples

In [67]:
# Create a empty Tuples
my_tuple= tuple()

In [68]:
type(my_tuple)

tuple

In [28]:
my_tuple=tuple()

In [29]:
type(my_tuple)

tuple

In [70]:
my_tuple=('kiran', 'kiran1', 'kiran2')

In [71]:
for x in my_tuple:
    print (x)

kiran
kiran1
kiran2

In [73]:
my_tuple[1]

'kiran1'

In [74]:
# indexing
my_tuple.count("kiran")

1

In [75]:
my_tuple.index("kiran2")

2