# Python Data-structures and Boolean

- Booleal
- Boolean (Ture, False) and Logial Operators (and, or)
- Lists
- Comparision Operators
- Dictionaries
- Tuples
- Sets

### Boolean and Logical Operators

In [10]:
False

False

In [11]:
True

True

In [12]:
print(True,False)

True False

In [13]:
print(True, False)

True False

In [4]:
my_str= "SyedAbdulRasheed123"
print(my_str.isalnum())
print(my_str.isnumeric())
print(my_str.startswith('S'))

True
False
True

In [14]:
my_str="Krish"
my_str.isalnum() or my_str.isdigit()

True

In [15]:
my_str="krishna123"
my_str.isalnum() or my_str.isdigit()
my_str.isalnum() or my_str.isdigit()

True

In [15]:
my_str="krishna"

In [17]:
my_str.center(7)

'krishna'

In [17]:
print(my_str.endswith("k"))

False

In [18]:
print(my_str.startswith("K"))

False

In [19]:
#

In [20]:
True and True

True

In [21]:
True and False

False

In [22]:
True or False

True

In [23]:
False or False

False

## Lists

In [24]:
type([])

list

In [25]:
lst=list()

In [26]:
type(lst)

list

In [18]:
lst= ["Physics", "Chemistry", 500,600,700]

In [24]:
print(lst)

['Physics', 'Chemistry', 500, 600, 'Maths', 700, 'Maths']

In [27]:
lst[1]

'Chemistry'

In [27]:
lst=["mathematic", "Phisics", 100,200,204,]

## Append the List

In [49]:
# Append is used to add elements in the list.
print(lst)

[2, 3, 4, 5, [8, 9]]

In [29]:
lst.append("krishna")

In [30]:
print (lst)

['mathematic', 'Phisics', 100, 200, 204, 'krishna']

In [31]:
lst[3]

200

In [32]:
lst[1:6]

['Phisics', 100, 200, 204, 'krishna']

In [47]:
lst[3:4]

[5]

In [48]:
print(lst)

[2, 3, 4, 5, [8, 9]]

In [44]:
lst.append([8,9])

In [45]:
print(lst)

[2, 3, 4, 5, [8, 9]]

## Insert

In [36]:
# insert in a specific Order
lst.insert(1, 'Naik')

In [37]:
lst

['mathematic', 'Naik', 'Naik', 'Naik', 'Phisics', 100, 200, 204, 'krishna']

In [5]:
lst=[1,2,3,4,5,6,7]

In [6]:
type(lst)

list

In [7]:
print(lst)

[1, 2, 3, 4, 5, 6, 7]

## Extend

In [28]:
lst=[1,2,3,4,5,6,7]

In [29]:
print(lst)

[1, 2, 3, 4, 5, 6, 7]

In [30]:
lst.extend([8,9])

In [31]:
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## Various operations that we can perform with the lists

In [32]:
lst=[1,2,3,4,5,6,7]

In [33]:
sum(lst)

28

## Pop() method

In [35]:
# pop will remove the element from the list.
lst.pop()

7

In [36]:
print(lst)

[1, 2, 3, 4, 5, 6]

In [37]:
lst.pop(0)

1

In [38]:
print(lst)

[2, 3, 4, 5, 6]

In [40]:
lst.pop()

6

In [41]:
print(lst)

[2, 3, 4, 5]

In [42]:
lst

[2, 3, 4, 5]

In [43]:
print(lst)

[2, 3, 4, 5]

## Count() : Calcuate the total occurance of given element of the list

In [2]:
lst= [1,2,3,4,5,6,7,8,1]

In [3]:
lst.count(1)

2

In [4]:
# length: Calculates the total length of the list

In [5]:
len(lst)

9

In [10]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 1]

In [14]:
lst.index(2)

1

In [6]:
# index: return the index of  first occurance. start and end index are not necessary parameters.
lst.index(8)

7

In [58]:
# min and max
min(lst)

1

In [59]:
max(lst)

8